.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
}

.main>h1{
  word-spacing: -1.20px;
  letter-spacing: -0.125rem;
}